{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    'react/prefer-stateless-function': 0,
    "react/jsx-one-expression-per-line": [<enabled>, { "allow": "literal" }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
