.main-content {
	header {
		color: green;
	}
}

// Lists page
.lists-list {

	.list {
		background: #EEEEEE;
		border: 1px solid #CCCCCC;
		float: left;
		margin: 0 10px 10px 0;
  }
}

// end Lists page
